<%# <div class="card">
  <h5 class="card-header">Edit claim remark</h5>
  <div class="card-body">
    <%= render "form", claim_remark: @claim_remark %>
  <%# </div>
</div>  %>

<%= render "remote_modal", title: "Edit remark" do %>
  <%= render "form", url: claim_remark_path(@claim_remark), meth: 'patch' %>
<% end %>