

<div class="card">
  <div class="card-header">
    <h1>Authority level</h1>
    <%= link_to "Delete", authority_level, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @authority_level %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_authority_level_path(@authority_level), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", authority_levels_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>