<div id="<%= dom_id coop_branch %>">
  <p>
    <strong>Cooperative:</strong>
    <%= coop_branch.cooperative_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= coop_branch.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= coop_branch.address %>
  </p>

</div>
