<div id="<%= dom_id claim_confinement %>">
  <p>
    <strong>Date admit:</strong>
    <%= claim_confinement.date_admit %>
  </p>

  <p>
    <strong>Date discharge:</strong>
    <%= claim_confinement.date_discharge %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= claim_confinement.amount %>
  </p>

</div>
