<h2 class="text-primary">Process new claim</h2>
<br>
<%# <div class="card">
  <h5 class="card-header">Edit process claim</h5>
  <div class="card-body"> %>
    <%= render "form", process_claim: @process_claim %>
  <%# </div>
</div> %>