

<%# <div class="card">
  <div class="card-header">
    <h1>Process claim</h1> %>
    <%#= link_to "Delete", @process_claim, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  <%# </div>
  <div class="card-body"> %>
    <%= render @process_claim %>
  <%# </div>
  <div class="card-footer"> %>
    <%#= link_to "Edit", edit_process_claim_path(@process_claim), class: "btn btn-secondary btn-sm" %> 
    <%#= link_to "Back", process_claims_path, class: "btn btn-secondary btn-sm" %>
  <%# </div>

</div> %>