<div id="<%= dom_id user %>">
  <p>
    <strong>User name:</strong>
    <%= user.user_name %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= user.branch_id %>
  </p>

  <p>
    <strong>Authority level:</strong>
    <%= user.authority_level_id %>
  </p>

</div>
