<%# <div id="cover">
  <div class="jumbotron jumbotron-fluid"> %>
<%# <div class="btn-group rightHeader">
      <a href="https://github.com/contact"><button class="btn btn-outline-primary">contact.</button></a>
    </div>
    <div class="btn-group leftHeader">        
    <a href="https://github.com/session"><button class="btn btn-outline-primary">return</button></a>
    <a href="https://github.com/join?source=login"><button class="btn btn-outline-primary">join</button></a>    
    </div>   %>
<%# <div class="container">
      <div class="text-center"> %>
<%# <h1 class="title display-3 text-center" style="font-weight:100;">Claims<strong style="font-weight:600;">System</strong>.io</h1> %>
<%#= image_tag 'cis_logo.png', width: 300, class: 'mb-3 mt-5 mb-lg-0 me-2' %>
<%# <p class="lead string-1 text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni delectus quo rem perspiciatis, maiores nemo quis quia ratione tenetur eos repudiandae, illo optio, mollitia quod officiis obcaecati cum animi natus. </p> %>
<%# <p class="text-dark">Win an integrated system, not only is all the relevant data available to you at all times but each department's efficiency is also easily determinable via a central data store. It will allow you to view relevant data as needed, making your analytical or performance reports more meaningful.</p> %>
<%#= link_to "Process", process_claims_path, class: "btn btn-outline-light" %>
<%# </div>
    </div>
  </div>
</div> %>
<%# <div class="card text-bg-dark bg_gradient"> %>
<%#= image_tag 'teamwork.png', width: 300, class: 'card-img' %>
<%# <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div> %>
<div class="col d-flex justify-content-center">
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag 'team.jpg', height:"100%", width: 300, class: 'img-fluid rounded-start' %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="text-center">
            <p class="card-text mt-4">With an integrated system, not only is all the relevant data available to you at all times but each department's efficiency is also easily determinable via a central dashboard. An integrated dashboard will have access to the central data store. It will allow you to view relevant data as needed, making your analytical or performance reports more meaningful.</p>
            <%= image_tag 'cis_logo.png', width: 100, class: 'mb-lg-0 me-2 mt-3' %>
          </div>
          <%# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <div class="card mb-3"> %>
<%# <img src="..." class="card-img-top" alt="..."> %>
<%# <div class="card-body">
    <div class="row">
      <div class="col-3"> %>
<%#= image_tag 'cis_logo.png', width: 300, class: 'mb-lg-0 me-2' %>
<%# </div>
      <div class="col-9">
        <p class="fs-4">With an integrated system, not only is all the relevant data available to you at all times but each department's efficiency is also easily determinable via a central dashboard. An integrated dashboard will have access to the central data store. It will allow you to view relevant data as needed, making your analytical or performance reports more meaningful.</p>
      </div>
    </div> %>
<%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> %>
<%# </div>
</div> %>
